[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = 'pytest tests'
serve_doc = 'mkdocs serve -a 127.0.0.1:8010'
build_doc = 'mkdocs build'

[dev-packages]
mkdocs = "*"
pytest = "*"
python-validator = {path = ".", editable = true}
"autopep8" = "*"
ipython = "*"

[packages]
six = "*"
ipy = "*"

[requires]
python_version = "2.7"
