[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = 'tox'
build = 'python setup.py sdist bdist_wheel'
publish = 'twine upload -r pypi dist/*'
publish_test = 'twine upload -r test dist/*'
serve_doc = 'mkdocs serve -a 127.0.0.1:8010'
build_doc = 'mkdocs build'
publish_doc = 'mkdocs gh-deploy'

[dev-packages]
pytest = "*"
python-validator = {path = ".", editable = true}
"autopep8" = "*"
mkdocs-material = "*"
twine = "*"
pylint = "<2.0.0"
tox = "*"
pytz = "*"
mkdocs = "*"

[packages]

[requires]
python_version = "2.7"
